.container
  %h1 About us
  %p Meet the team:
  %table.table.table-borderless
    %thead
      %tr
        %th(scope="col") Name
        %th(scope="col") Website
    %tbody
      %tr
        %td Nathan Smalley
        %td
          %a(href="https://github.com/nasmal/" ) https://github.com/nasmal/

      %tr
        %td Goutham Reddy Kotapalle
        %td
          %a(href="https://github.com/Gouthamkreddy1234" ) https://github.com/Gouthamkreddy1234
      %tr
        %td Mingen Pan
        %td
          %a(href="https://github.com/mingen-pan" ) https://github.com/mingen-pan
