.container
  %h1 About us
  %p Project contributors
  %table.table.table-borderless
    %thead
      %tr
        %th(scope="col") Name
        %th(scope="col") Email
    %tbody
      %tr
        %td Nathan Smalley
        %td nrs2169@columbia.edu
      %tr
        %td Goutham Reddy Kotapalle
        %td gk2547@columbia.edu
      %tr
        %td Mingen Pan
        %td pan.mingen@columbia.edu
