.container
  .row
    .col-12
      %h1#the-question What would you like to do?
  .row
    .col-3
    .col-2.text-center
      %a(href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="false") Buy
    .col-2
    .col-2.text-center
      %a(href="#" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="false") Sell
    .col-3
  .row#homepage-map
    .col-3
    .col-6
      %img(src="https://coxauto.com.au/wp-content/uploads/2019/07/Map-Placeholder@2x.jpg" class="img-fluid")
    .col-3