%div{:class => "uk-section uk-section-secondary lta-footer"}
  .uk-container
    %div{:class => "uk-flex-center uk-visible@l", "uk-grid" => ""}
      %div.uk-text-right
        %a.lta-footer-link Terms
        %a.lta-footer-link Privacy
        %a.lta-footer-link Security
        %a.lta-footer-link Help

      %div.uk-text-center#lta-footer-center-acronym
        LTA
      %div.uk-text-left
        %a.lta-footer-link Contact
        %a.lta-footer-link Pricing
        %a.lta-footer-link Blog
        %a.lta-footer-link{:href => "#{about_path}"} About