- @detail_schema.each do |field|
  .form-group
    - if field.datatype == 'string'
      = label :detail, field.column_id, field.column_name
      = text_field :detail, field.column_id, class: 'form-control', value: @details[field.column_id]
    - elsif field.datatype == 'int'
      = label :detail, field.column_id, field.column_name
      %br
      = number_field :detail, field.column_id, step: 1, value: @details[field.column_id]