- @detail_schema.each do |field|
  .form-group
    - if field.datatype == 'string'
      = label :detail, field.column, field.column
      = text_field :detail, field.column, class: 'form-control', value: @details[field.column]
    - elsif field.datatype == 'int'
      = label :detail, field.column, field.column
      %br
      = number_field :detail, field.column, step: 1, value: @details[field.column]