/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//@import "bootstrap";
@import "../../../vendor/assets/stylesheets/uikit-3.3.7";

html {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:500;
  font-stretch:normal;
  color: #190000;
  font-size: 20px;
}

// Overriding vendor (Uikit) css
.uk-logo {
  color: #E3E3EA;
}
.uk-logo:hover, .uk-logo:focus {
  color: #9999B2;
}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a.uk-open {
  color: #9999B2;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #313A63;
}
.uk-navbar-nav > li {
  margin: 0 1.4em 0 1.4em;
}
.uk-navbar-nav > li > a {
  color: #E3E3EA;
}
.uk-navbar-nav > li > a:visited {
  color: #E3E3EA;
}
.uk-navbar-nav > li > a:active {
  color: #ffffff;
}
.uk-navbar-nav > li > a:hover {
  color: #ffffff;
}
.uk-dropdown {
  color: #190000;
}
.uk-section-primary {
  background: #313A63;
}

.lta-footer {
  padding: 10px 0px;
  font-weight: 300;
  color: white;
  background: #190000;
}
.lta-footer-link {
  margin: 0 1.5em;
}
#lta-footer-center-acronym {
  font-weight: 500;
  font-size: 20px;
}

// override primary button
.uk-light .uk-button-primary, .uk-section-primary:not(.uk-preserve-color) .uk-button-primary, .uk-section-secondary:not(.uk-preserve-color) .uk-button-primary, .uk-tile-primary:not(.uk-preserve-color) .uk-button-primary, .uk-tile-secondary:not(.uk-preserve-color) .uk-button-primary, .uk-card-primary.uk-card-body .uk-button-primary, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-primary, .uk-card-secondary.uk-card-body .uk-button-primary, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-button-primary, .uk-overlay-primary .uk-button-primary, .uk-offcanvas-bar .uk-button-primary {
  background-color: #313A63;
  color: #E3E3EA;
  border-radius: 5px;
  text-transform: none;
}
.uk-light .uk-button-primary:hover, .uk-section-primary:not(.uk-preserve-color) .uk-button-primary:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-button-primary:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-button-primary:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-button-primary:hover, .uk-card-primary.uk-card-body .uk-button-primary:hover, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-primary:hover, .uk-card-secondary.uk-card-body .uk-button-primary:hover, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-button-primary:hover, .uk-overlay-primary .uk-button-primary:hover, .uk-offcanvas-bar .uk-button-primary:hover {
  background-color: #190000;
  color: white;
}

// override secondary button
.uk-light .uk-button-secondary, .uk-section-primary:not(.uk-preserve-color) .uk-button-secondary, .uk-section-secondary:not(.uk-preserve-color) .uk-button-secondary, .uk-tile-primary:not(.uk-preserve-color) .uk-button-secondary, .uk-tile-secondary:not(.uk-preserve-color) .uk-button-secondary, .uk-card-primary.uk-card-body .uk-button-secondary, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-secondary, .uk-card-secondary.uk-card-body .uk-button-secondary, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-button-secondary, .uk-overlay-primary .uk-button-secondary, .uk-offcanvas-bar .uk-button-secondary {
  background-color: white;
  color: #313A63;
  border: 1px solid #313A63;
  border-radius: 5px;
  text-transform: none;
}
.uk-light .uk-button-secondary:hover, .uk-section-primary:not(.uk-preserve-color) .uk-button-secondary:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-button-secondary:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-button-secondary:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-button-secondary:hover, .uk-card-primary.uk-card-body .uk-button-secondary:hover, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-secondary:hover, .uk-card-secondary.uk-card-body .uk-button-secondary:hover, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-button-secondary:hover, .uk-overlay-primary .uk-button-secondary:hover, .uk-offcanvas-bar .uk-button-secondary:hover {
  background-color: #E3E3EA;
  color: #313A63;
}

.lta-button-large {
  padding: 10px 0;
  font-size: 24px;
}

// register/login page stuff
.lta-modal {
  background: white;
  border-radius: 5px;
  color: #190000;
}
.lta-modal-section {
  padding: 20px 0 40px 0;
}

.lta-form-input {
  border: 1px solid rgba(12,16,30,0.5);
  border-radius: 0 5px 5px 0;
  height: 38px;
  font-size: 20px;
  color: #190000;
}
.lta-form-input:hover {
  border:             1px solid #313A63;
  box-shadow:         10px 0 0 0 #313A63;
  -moz-box-shadow:    10px 0 0 0 #313A63;
  -webkit-box-shadow: 10px 0 0 0 #313A63;
}
.lta-form-input:focus {
  border:             1px solid #190000;
  box-shadow:         10px 0 0 0 #190000;
  -moz-box-shadow:    10px 0 0 0 #190000;
  -webkit-box-shadow: 10px 0 0 0 #190000;
  //background: #E3E3EA;
}
.lta-form-large {
  height: 62px;
  font-size: 32px;
  padding-left: 20px;
}

.lta-form-input-box-left {
  border: 1px solid rgba(12,16,30,0.5);
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 60px;
  height: 60px;
  color: #E3E3EA;
}

// headings
.uk-light h1, .uk-light .uk-h1, .uk-light h2, .uk-light .uk-h2, .uk-light h3, .uk-light .uk-h3, .uk-light h4, .uk-light .uk-h4, .uk-light h5, .uk-light .uk-h5, .uk-light h6, .uk-light .uk-h6, .uk-light .uk-heading-small, .uk-light .uk-heading-medium, .uk-light .uk-heading-large, .uk-light .uk-heading-xlarge, .uk-light .uk-heading-2xlarge, .uk-section-primary:not(.uk-preserve-color) h1, .uk-section-primary:not(.uk-preserve-color) .uk-h1, .uk-section-primary:not(.uk-preserve-color) h2, .uk-section-primary:not(.uk-preserve-color) .uk-h2, .uk-section-primary:not(.uk-preserve-color) h3, .uk-section-primary:not(.uk-preserve-color) .uk-h3, .uk-section-primary:not(.uk-preserve-color) h4, .uk-section-primary:not(.uk-preserve-color) .uk-h4, .uk-section-primary:not(.uk-preserve-color) h5, .uk-section-primary:not(.uk-preserve-color) .uk-h5, .uk-section-primary:not(.uk-preserve-color) h6, .uk-section-primary:not(.uk-preserve-color) .uk-h6, .uk-section-primary:not(.uk-preserve-color) .uk-heading-small, .uk-section-primary:not(.uk-preserve-color) .uk-heading-medium, .uk-section-primary:not(.uk-preserve-color) .uk-heading-large, .uk-section-primary:not(.uk-preserve-color) .uk-heading-xlarge, .uk-section-primary:not(.uk-preserve-color) .uk-heading-2xlarge, .uk-section-secondary:not(.uk-preserve-color) h1, .uk-section-secondary:not(.uk-preserve-color) .uk-h1, .uk-section-secondary:not(.uk-preserve-color) h2, .uk-section-secondary:not(.uk-preserve-color) .uk-h2, .uk-section-secondary:not(.uk-preserve-color) h3, .uk-section-secondary:not(.uk-preserve-color) .uk-h3, .uk-section-secondary:not(.uk-preserve-color) h4, .uk-section-secondary:not(.uk-preserve-color) .uk-h4, .uk-section-secondary:not(.uk-preserve-color) h5, .uk-section-secondary:not(.uk-preserve-color) .uk-h5, .uk-section-secondary:not(.uk-preserve-color) h6, .uk-section-secondary:not(.uk-preserve-color) .uk-h6, .uk-section-secondary:not(.uk-preserve-color) .uk-heading-small, .uk-section-secondary:not(.uk-preserve-color) .uk-heading-medium, .uk-section-secondary:not(.uk-preserve-color) .uk-heading-large, .uk-section-secondary:not(.uk-preserve-color) .uk-heading-xlarge, .uk-section-secondary:not(.uk-preserve-color) .uk-heading-2xlarge, .uk-tile-primary:not(.uk-preserve-color) h1, .uk-tile-primary:not(.uk-preserve-color) .uk-h1, .uk-tile-primary:not(.uk-preserve-color) h2, .uk-tile-primary:not(.uk-preserve-color) .uk-h2, .uk-tile-primary:not(.uk-preserve-color) h3, .uk-tile-primary:not(.uk-preserve-color) .uk-h3, .uk-tile-primary:not(.uk-preserve-color) h4, .uk-tile-primary:not(.uk-preserve-color) .uk-h4, .uk-tile-primary:not(.uk-preserve-color) h5, .uk-tile-primary:not(.uk-preserve-color) .uk-h5, .uk-tile-primary:not(.uk-preserve-color) h6, .uk-tile-primary:not(.uk-preserve-color) .uk-h6, .uk-tile-primary:not(.uk-preserve-color) .uk-heading-small, .uk-tile-primary:not(.uk-preserve-color) .uk-heading-medium, .uk-tile-primary:not(.uk-preserve-color) .uk-heading-large, .uk-tile-primary:not(.uk-preserve-color) .uk-heading-xlarge, .uk-tile-primary:not(.uk-preserve-color) .uk-heading-2xlarge, .uk-tile-secondary:not(.uk-preserve-color) h1, .uk-tile-secondary:not(.uk-preserve-color) .uk-h1, .uk-tile-secondary:not(.uk-preserve-color) h2, .uk-tile-secondary:not(.uk-preserve-color) .uk-h2, .uk-tile-secondary:not(.uk-preserve-color) h3, .uk-tile-secondary:not(.uk-preserve-color) .uk-h3, .uk-tile-secondary:not(.uk-preserve-color) h4, .uk-tile-secondary:not(.uk-preserve-color) .uk-h4, .uk-tile-secondary:not(.uk-preserve-color) h5, .uk-tile-secondary:not(.uk-preserve-color) .uk-h5, .uk-tile-secondary:not(.uk-preserve-color) h6, .uk-tile-secondary:not(.uk-preserve-color) .uk-h6, .uk-tile-secondary:not(.uk-preserve-color) .uk-heading-small, .uk-tile-secondary:not(.uk-preserve-color) .uk-heading-medium, .uk-tile-secondary:not(.uk-preserve-color) .uk-heading-large, .uk-tile-secondary:not(.uk-preserve-color) .uk-heading-xlarge, .uk-tile-secondary:not(.uk-preserve-color) .uk-heading-2xlarge, .uk-card-primary.uk-card-body h1, .uk-card-primary.uk-card-body .uk-h1, .uk-card-primary.uk-card-body h2, .uk-card-primary.uk-card-body .uk-h2, .uk-card-primary.uk-card-body h3, .uk-card-primary.uk-card-body .uk-h3, .uk-card-primary.uk-card-body h4, .uk-card-primary.uk-card-body .uk-h4, .uk-card-primary.uk-card-body h5, .uk-card-primary.uk-card-body .uk-h5, .uk-card-primary.uk-card-body h6, .uk-card-primary.uk-card-body .uk-h6, .uk-card-primary.uk-card-body .uk-heading-small, .uk-card-primary.uk-card-body .uk-heading-medium, .uk-card-primary.uk-card-body .uk-heading-large, .uk-card-primary.uk-card-body .uk-heading-xlarge, .uk-card-primary.uk-card-body .uk-heading-2xlarge, .uk-card-primary > :not([class*="uk-card-media"]) h1, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h1, .uk-card-primary > :not([class*="uk-card-media"]) h2, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h2, .uk-card-primary > :not([class*="uk-card-media"]) h3, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h3, .uk-card-primary > :not([class*="uk-card-media"]) h4, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h4, .uk-card-primary > :not([class*="uk-card-media"]) h5, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h5, .uk-card-primary > :not([class*="uk-card-media"]) h6, .uk-card-primary > :not([class*="uk-card-media"]) .uk-h6, .uk-card-primary > :not([class*="uk-card-media"]) .uk-heading-small, .uk-card-primary > :not([class*="uk-card-media"]) .uk-heading-medium, .uk-card-primary > :not([class*="uk-card-media"]) .uk-heading-large, .uk-card-primary > :not([class*="uk-card-media"]) .uk-heading-xlarge, .uk-card-primary > :not([class*="uk-card-media"]) .uk-heading-2xlarge, .uk-card-secondary.uk-card-body h1, .uk-card-secondary.uk-card-body .uk-h1, .uk-card-secondary.uk-card-body h2, .uk-card-secondary.uk-card-body .uk-h2, .uk-card-secondary.uk-card-body h3, .uk-card-secondary.uk-card-body .uk-h3, .uk-card-secondary.uk-card-body h4, .uk-card-secondary.uk-card-body .uk-h4, .uk-card-secondary.uk-card-body h5, .uk-card-secondary.uk-card-body .uk-h5, .uk-card-secondary.uk-card-body h6, .uk-card-secondary.uk-card-body .uk-h6, .uk-card-secondary.uk-card-body .uk-heading-small, .uk-card-secondary.uk-card-body .uk-heading-medium, .uk-card-secondary.uk-card-body .uk-heading-large, .uk-card-secondary.uk-card-body .uk-heading-xlarge, .uk-card-secondary.uk-card-body .uk-heading-2xlarge, .uk-card-secondary > :not([class*="uk-card-media"]) h1, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h1, .uk-card-secondary > :not([class*="uk-card-media"]) h2, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h2, .uk-card-secondary > :not([class*="uk-card-media"]) h3, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h3, .uk-card-secondary > :not([class*="uk-card-media"]) h4, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h4, .uk-card-secondary > :not([class*="uk-card-media"]) h5, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h5, .uk-card-secondary > :not([class*="uk-card-media"]) h6, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-h6, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-heading-small, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-heading-medium, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-heading-large, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-heading-xlarge, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-heading-2xlarge, .uk-overlay-primary h1, .uk-overlay-primary .uk-h1, .uk-overlay-primary h2, .uk-overlay-primary .uk-h2, .uk-overlay-primary h3, .uk-overlay-primary .uk-h3, .uk-overlay-primary h4, .uk-overlay-primary .uk-h4, .uk-overlay-primary h5, .uk-overlay-primary .uk-h5, .uk-overlay-primary h6, .uk-overlay-primary .uk-h6, .uk-overlay-primary .uk-heading-small, .uk-overlay-primary .uk-heading-medium, .uk-overlay-primary .uk-heading-large, .uk-overlay-primary .uk-heading-xlarge, .uk-overlay-primary .uk-heading-2xlarge, .uk-offcanvas-bar h1, .uk-offcanvas-bar .uk-h1, .uk-offcanvas-bar h2, .uk-offcanvas-bar .uk-h2, .uk-offcanvas-bar h3, .uk-offcanvas-bar .uk-h3, .uk-offcanvas-bar h4, .uk-offcanvas-bar .uk-h4, .uk-offcanvas-bar h5, .uk-offcanvas-bar .uk-h5, .uk-offcanvas-bar h6, .uk-offcanvas-bar .uk-h6, .uk-offcanvas-bar .uk-heading-small, .uk-offcanvas-bar .uk-heading-medium, .uk-offcanvas-bar .uk-heading-large, .uk-offcanvas-bar .uk-heading-xlarge, .uk-offcanvas-bar .uk-heading-2xlarge {
  color: #190000;
}

// alerts
.lta-alert-secondary-container {
  border: 1px solid rgba(153,153,178,0.5);
  border-radius: 5px;
  margin-left: auto;
  color: #9999B2;
  font-size: 24px;
}
.lta-alert-secondary-icon {
  font-size: 30px;
}
.lta-alert-secondary-message {
  padding: 0 2em;
}

.lta-section-header {
  background-color: #E3E3EA;
  padding: 1em 0;
}
.lta-section-header > .uk-container > h1 {
  font-weight: 500;
}

.uk-table th {
  color: #313A63;
  font-weight: 500;
}
.uk-table td {
  //font-weight: 300;
}